.App {
  text-align: center;
}
media-controller {
  --media-primary-color: #ffffff;
  --media-control-hover-background: rgba(255, 255, 255, 0.15);
  --media-control-background: rgba(0, 0, 0, 0.6);
  --media-control-color: white;
  --media-font-size: 16px;
  border-radius: 100px;
}
